<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>input { padding: 3px; }</style>
</head>
<body style="margin: 40px;">
  <h1>Mock 데이터 작성</h1>
  <hr>
  <form action="/chatting/mock" method="post">
    <input type="text" name="senderUid" placeholder="송신자 uid"><br><br>
    <input type="text" name="recipientUid" placeholder="수신자 uid"><br><br>
    <input type="text" name="message" placeholder="메세지"><br><br>
    <input type="datetime-local" name="timestamp"><br><br>
    <button type="submit">제출</button>
  </form>
</body>
</html>