<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebSocket Echo</title>
	<style>input { padding: 3px; }</style>
	<script>
		let socket;
		function connect() {
			socket = new WebSocket('ws://localhost:8090/echo');

			socket.onopen = () => {
				console.log('Connected.');
				document.getElementById('status').innerText = 'Connected.';
			}
			socket.onmessage = event => {
				console.log('Message from server: ' + event.data);
				const message = document.getElementById('message');
				message.value += event.data + '\n';
			}
			socket.onclose = () => {
				console.log('Disconnected.');
				document.getElementById('status').innerText = 'Disconnected.';
			}
		}
		function sendMessage() {
			const message = document.getElementById('messageInput').value;
			if (socket && socket.readyState === socket.OPEN) {
				socket.send(message);
				document.getElementById('messageInput').value = '';
			} else {
				alert('WebSocket is not connected.');
			}
		}
		function disconnect() {
			if (socket && socket.readyState === socket.OPEN) {
				socket.close();
				console.log('Disconnected by client.');
			} else {
				alert('WebSocket is not connected.');
			}
		}
	</script>
</head>
<body style="margin: 40px;">
	<h1>WebSocket - Echo2</h1>
	<p>Status:
		<span id="status">Connecting ...</span>
		<button onclick="connect()">연결</button>
	</p>
	<textarea id="message" rows="10" cols="60" readonly></textarea><br><br>
	<input type="text" id="messageInput" placeholder="Enter your message here">
	<button onclick="sendMessage()">전송</button>
	<button onclick="disconnect()">연결 해제</button>
</body>
</html>