<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input { padding: 3px; }
    </style>
</head>
<body style="margin: 50px;">
<h1>사용자 수정</h1>
<hr>
<form action="/user/update" method="post">
<!--    disabled라고 하면, uid값이 안 보내지므로 hidden으로 따로 추가한 것  -->
    <input type="hidden" name="uid" th:value="${user.uid}"><br><br>
    <input type="text" th:value="${user.uid}" disabled><br><br>
    <input type="password" name="pwd" placeholder="패스워드"><br><br>
    <input type="password" name="pwd2" placeholder="패스워드 확인"><br><br>
    <input type="text" name="uname" th:value="${user.uname}"><br><br>
    <input type="text" name="email" th:value="${user.email}"><br><br>
    <select name="role">
        <option value="ROLE_USER">사용자 권한</option>
        <option value="ROLE_ADMIN">관리자 권한</option>
    </select><br><br>
    <input type="text" th:value="${user.regDate}" disabled><br><br>
    <input type="submit" value="수정">
</form>
</body>
</html>