.table { 
    width: 100%; 
    table-layout: fixed; 
}
.table td { 
    vertical-align: middle; 
    max-height: 80px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.new-count { 
    background-color: red; 
    font-size: 0.6rem; 
    color: white;
    border-radius: 50%; 
    padding: 1px 5px; 
    line-height: 1; 
}
